

body{
  background: url("./image/h.jpg")no-repeat center center/cover;
  position:absolute;
  width:100%;
  background-repeat: no-repeat;
  justify-content: flex-start;
}
.navbar{
  background-color:black;
  padding-top:4rem;
  gap: top 0;
  position:sticky;
  width: 100%;
  opacity: 0.5rem;;
  position:fixed;
  padding: 0rem;
  display:flex;
  flex-direction: row;
  align-items:center;
 }
h1{
  color:white;
  text-align: center;
  font-size: 3em;
}



.feel{
  margin-top:5rem;
}


.navbar  ul {
  display: flex;
  flex-direction:row;
   list-style: none;
   align-items: center;
   justify-content: space-between;
   top: 0rem;
}
.navbar img{
  background-image: contain;
  width:3%;
  height:30px;
}
.navbar ul li :hover {
  color:rgb(105, 247, 192);
}

.music{
   text-align:center;
   color:white;
   font-size:2.5em;
   font-family: 'Corinthia', cursive,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-top: 5rem;
}

.navbar li a{
  text-decoration:none;
  padding-right: 50px;
  color:white; 
  display: flex;
  align-items:center;
  flex-wrap: wrap;
}  


.image{
  
  padding-left:30rem;
  top: 0;
  display: flex;
  position:relative;
  padding-bottom:40rem;
  padding-top:60rem; 
  height:100px;
  width:100px;
}
.img4{
  margin-right:5rem;
  width:100px;
  position:absolute;            
}


